                /* Глобальные настройки */
html {
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
}
:root {
    --Soft_Apricot: #FFD6AF;
    --Almond_Slik: #E7CDBD;
    --Dark_Coffee: #2A1300;
    --Royal-Plum: #823174;
}
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body {
    height: 100%;
    background-color: #E7CDBD;
    color: var(--Dark_Coffee);
    font-family: 'Averia Serif Libre', serif;
}
a {
    display: block;
}




                /* Фиксировання шапка с логотипом и меняющимися иконками мессенджеров */
#top-header, #nav-bar, #selected {
    z-index: 1000;
    box-shadow: 0 0 7px var(--Dark_Coffee);
}
#top-header {
    height: 50px; 
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--Soft_Apricot);
}
#logo { width: 166px; height: 50px; }
#contacts-window {
    position: fixed;
    top: 0;
    right: 10px;
    height: 50px;
    overflow-y: hidden;
}
#contacts {
    width: 36px;
    height: 200px;
    display: flex;
    flex-direction: column;
    animation: contacts-change 8s linear infinite;
}
.contact-icon { width: 36px; height: 36px; margin: 7px 0; opacity: 0.8; display: block; }
.icon-space { width: 36px; height: 25px;}
@keyframes contacts-change {
        0% { transform: translateY(0); }
        2.5% { transform: translateY(-25px); }
        32.5% { transform: translateY(-25px); }
        35% { transform: translateY(-75px); }
        65% { transform: translateY(-75px); }
        67.5% { transform: translateY(-125px); }
        97.5% { transform: translateY(-125px); }
        100% { transform: translateY(-175px); }
    }




                /* Нижняя фиксировання панель навигации с тремя кнопками */
#nav-bar, #selected {
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    
}
#nav-bar {
    background-color: var(--Soft_Apricot);
    width: 300px;
    display: flex;
    opacity: 0.75;
}
#selected, .nav-btn {
    width: 100px;
    height: 55px; 
}
#selected {
    background-color: var(--Royal-Plum);
    opacity: 0.25;
    transition: 0.3s;
}
.nav-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-text {
    color: var(--Royal-Plum);
    font-size: 12px;
    font-family: 'Pattaya', sans-serif;
}
.nav-icon { width: 30px; }




                /* Три основных контейнера, в которых будет весь контент */
.page {
    height: 100vh;
    padding: 80px 0 55px;
    
}

h1 {
    margin-top: 3rem;
}