                /* Глобальные настройки */
html {
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
:root {
    --Apricot: #FFD6AF;
    --Slik: #E7CDBD;
    --Coffee: #2A1300;
    --Plum: #823174;
    --Apricot-Glass: #FFD6AFCC;
    --Plum-Glass: #8231744D;
    --Blush-Glass: #D7AA9E65;
}
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body {
    height: 100%;
    background-color: var(--Slik);
    color: var(--Coffee);
    font-family: "Playpen Sans", cursive;
    font-weight: 700;
}
button {
    background: transparent;
    border: none;
    -webkit-touch-callout: none;
    font-family: "Playpen Sans", cursive;
    color: var(--Plum);
    font-weight: 800;
}
a { display: block; }
a:active, button:active { transform: scale(0.9); }




                /* Фиксировання шапка с логотипом и меняющимися иконками мессенджеров */
#top-header, #nav-bar, #selected {
    z-index: 1000;
    box-shadow: 0 0 10px var(--Coffee);
}
#top-header {
    height: 50px; 
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--Apricot);
    border-bottom: 2px solid var(--Plum-Glass);
}
#logo { width: 160px; height: 48px; }
#contacts-window {
    position: fixed;
    top: 0;
    right: 10px;
    height: 50px;
    overflow-y: hidden;
}
#contacts {
    width: 36px;
    height: 200px;
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    animation: contacts-change 8s linear infinite;
}
.contact-icon { width: 36px; height: 36px; margin: 7px 0; display: block; }
.icon-space { width: 36px; height: 25px;}
@keyframes contacts-change {
        0% { transform: translateY(0); }
        2.5% { transform: translateY(-25px); }
        32.5% { transform: translateY(-25px); }
        35% { transform: translateY(-75px); }
        65% { transform: translateY(-75px); }
        67.5% { transform: translateY(-125px); }
        97.5% { transform: translateY(-125px); }
        100% { transform: translateY(-175px); }
    }




                /* Нижняя фиксировання панель навигации с тремя кнопками */
#nav-bar, #selected {
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
}
#nav-bar {
    background-color: var(--Apricot-Glass);
    width: 300px;
    display: flex;
    backdrop-filter: blur(2px);
 
}
#selected, .nav-btn { width: 100px; height: 55px; }
#selected {
    background-color: var(--Plum-Glass);
    transition: 0.3s;
}
.nav-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-icon { width: 30px; }
#total-quantity {
    position: fixed;
    left: 55%;
    bottom: 85px;
    color: var(--Plum);
    text-shadow: 0 0 2px var(--Coffee);
}




                /* Три основных контейнера, в которых будет весь контент */
.page {
    height: 100%;
    padding: 60px 10px 100px;
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
}




                /* Первый контейнер с информацией о компании */
#contacts-cntnr {
    display: flex;
    justify-content: space-evenly;
}
#about-us p {
    background-color: var(--Blush-Glass);
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0 0 5px var(--Apricot);
}
#info-page h2 {
    margin-top: 20px;
}



                /* Второй контейнер для заказа лаваша */
.product-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 18rem;
    background-color: var(--Blush-Glass);
    border-radius: 3rem;
    box-shadow: 0 0 10px var(--Coffee);
    margin: 3rem 0;
    border: solid 2px var(--Plum-Glass);
}
.product-img-box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
}
.quantity-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.quantity-buttons button { 
    background-color: var(--Apricot);
    box-shadow: -2px -1px 7px var(--Coffee);
    border: solid 1px var(--Plum-Glass);
    padding: 0.2rem 0.4rem;
    font-size: 0.6rem;
    border-radius: 10px;
}
.product-img {
    display: block;
    height: 100%;
  
}
.product-quantity {
    width: 80%;
    background-color: var(--Slik);
    border-radius: 2rem;
    font-size: 0.8rem;
}
.quantity-value {
    font-size: 1.7rem;
}
.btn-value {
    font-size: 1rem;
}
#total-quantity {
    position: fixed;
    left: 55%;
    bottom: 85px;
    color: var(--Plum);
    text-shadow: 0 0 2px var(--Coffee);
}