:root {
    --Soft_Apricot: #FFD6AF;
    --Almond_Slik: #E7CDBD;
    --Dark_Coffee: #2A1300;
}
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    color: var(--Dark_Coffee);
}

#top-header {
    position: fixed;
    top: 0;
    padding: 3px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
#logo-lmarket { height: 55px; }

#nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3px;
}
#nav-bar img {
   display: block; 
}
#logo-order { height: 48px; width: 59px;}
.logo-nav { height: 32px; width: 38px; border-radius: 8px;}

#top-header, #nav-bar {
    background-color: var(--Soft_Apricot);
    z-index: 1000;
    box-shadow: 0 0 10px;
}

main {
    height: 100%;
    padding: 80px 0 55px;
    background-color: #E7CDBD;
}
#content { 
    width: 90%;
    margin: 10px auto;
    text-align: center;
}

h1 {
    margin-top: 3rem;
}