                /* Глобальные настройки */
html {
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
}
:root {
    --Apricot: #FFD6AF;
    --Slik: #E7CDBD;
    --Coffee: #2A1300;
    --Plum: #823174;
    --Blush: #d7aa9e4d;
}
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body {
    height: 100%;
    background-color: var(--Slik);
    color: var(--Coffee);
    font-family: 'Averia Serif Libre', serif;
}
a {
    display: block;
}




                /* Фиксировання шапка с логотипом и меняющимися иконками мессенджеров */
#top-header, #nav-bar, #selected {
    z-index: 1000;
    box-shadow: 0 0 7px var(--Coffee);
}
#top-header {
    height: 50px; 
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--Apricot);
}
#logo { width: 166px; height: 50px; }
#contacts-window {
    position: fixed;
    top: 0;
    right: 10px;
    height: 50px;
    overflow-y: hidden;
}
#contacts {
    width: 36px;
    height: 200px;
    display: flex;
    flex-direction: column;
    animation: contacts-change 8s linear infinite;
}
.contact-icon { width: 36px; height: 36px; margin: 7px 0; opacity: 0.7; display: block; }
.icon-space { width: 36px; height: 25px;}
@keyframes contacts-change {
        0% { transform: translateY(0); }
        2.5% { transform: translateY(-25px); }
        32.5% { transform: translateY(-25px); }
        35% { transform: translateY(-75px); }
        65% { transform: translateY(-75px); }
        67.5% { transform: translateY(-125px); }
        97.5% { transform: translateY(-125px); }
        100% { transform: translateY(-175px); }
    }




                /* Нижняя фиксировання панель навигации с тремя кнопками */
#nav-bar, #selected {
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    
}
#nav-bar {
    background-color: var(--Apricot);
    width: 300px;
    display: flex;
    opacity: 0.9;
}
#selected, .nav-btn {
    width: 100px;
    height: 55px; 
}
#selected {
    background-color: var(--Plum);
    opacity: 0.25;
    transition: 0.3s;
}
.nav-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-text {
    color: var(--Plum);
    font-size: 12px;
    font-family: 'Pattaya', sans-serif;
}
.nav-icon { width: 30px; }




                /* Три основных контейнера, в которых будет весь контент */
.page { height: 100% ; padding: 60px 10px 100px; }




                /* Первый контейнер с информацией о компании */
#contacts-cntnr {
    display: flex;
    justify-content: space-evenly;
}
#info-page {
    text-align: center;
    font-weight: 700;
}
#about-us p {
    background-color: var(--Blush);
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0 0 5px var(--Apricot);
}
#info-page h2 {
    margin-top: 20px;
}



                /* Второй контейнер для заказа лаваша */